---
/**
 * * Hero with background blobs and side image
 *
 * There is a commented out "awards" section below in case you want that
 */

import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

// components
import Button from "@components/Button/Button.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
// images
import heroImage from "@assets/images/business-owner-min.png";
import award1 from "@images/awards/award-yelp.png";
import award2 from "@images/awards/award-homeadvisor.png";
import award3 from "@images/awards/award-angieslist.png";

const currLocale = getLocaleFromUrl(Astro.url);
---

<section id="hero" class="relative mb-14 flex min-h-[60svh] w-full overflow-clip pb-10">
	<!-- Background -->
	<div class="absolute -z-10 h-full w-full">
		<svg
			class="text-primary-200/50 h-full w-full"
			viewBox="0 0 1800 1000"
			width="1800"
			height="1000"
			preserveAspectRatio="xMinYMin slice"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			version="1.1"
			style="stroke:currentColor;fill:currentColor;"
		>
			<g transform="translate(1800, 1000)">
				<path
					d="M-950 0C-920.9 -120.4 -891.9 -240.9 -843.5 -349.4C-795.1 -457.9 -727.4 -554.5 -647 -647C-566.6 -739.5 -473.5 -827.9 -363.5 -877.7C-253.6 -927.5 -126.8 -938.7 0 -950L0 0Z"
				>
				</path>
			</g>
			<g>
				<path
					d="M950 0C926.3 119.5 902.6 239 861.1 356.7C819.6 474.3 760.3 590.1 671.8 671.8C583.2 753.4 465.5 801 348.6 841.7C231.8 882.3 115.9 916.2 0 950L0 0Z"
				>
				</path>
			</g>
		</svg>
	</div>

	<!-- hero items -->
	<div
		class="site-container mr-auto grid items-start gap-8 pt-36 pb-6 md:grid-cols-2 md:pt-44 md:pb-20"
	>
		<!-- Hero text -->
		<div class="mx-auto max-w-[450px] md:ml-0">
			<h1
				class="text-4xl leading-tight font-medium lg:text-5xl lg:leading-tight"
				data-aos="fade-up"
			>
				Quality work you deserve from the people you
				<span class="relative whitespace-nowrap">
					trust.
					<span>
						<Icon
							name="stellar/freehand-zig-underline"
							class="text-primary-300 absolute top-0 left-0 -z-10 h-full w-full translate-y-1/2"
							aria-hidden="true"
						/>
					</span>
				</span>
			</h1>
			<p class="description mt-6" data-aos="fade-up">
				Hero description
			</p>
			<div class="mt-6 flex gap-4">
				<Button
					variant="primary"
					href={"/contact"}
					data-aos="fade-up"
					data-aos-delay=".9"
				>
					Get a FREE quote
				</Button>
			</div>

			<!-- awards example, uncomment to see -->
			<!-- <div class="mt-10 flex flex-wrap gap-6 md:col-span-2">
        <Image
          src={award1}
          alt="yelp award"
          loading="lazy"
          height={100}
          class="h-10 w-auto"
        />
        <Image
          src={award2}
          alt="home advisor award"
          loading="lazy"
          height={100}
          class="h-10 w-auto"
        />
        <Image
          src={award3}
          alt="angies list award"
          loading="lazy"
          height={100}
          class="h-10 w-auto"
        />
      </div> -->
		</div>
		<!-- hero image -->
		<div class="mx-auto max-w-lg md:max-w-full">
			<Image
				src={heroImage}
				class="rounded-xl"
				alt="small business owner"
				loading="eager"
				width={600}
				densities={[1.5, 2]}
				data-aos="fade-in"
				data-aos-delay=".2"
			/>
		</div>
	</div>
</section>