---
// components
import NavLink from "@components/Nav/NavLink.astro";
import NavDropdownToggle from "@components/Nav/NavDropdown/NavDropdownToggle.astro";
import MegaMenuDropdownToggle from "@components/Nav/NavDropdown/MegaMenuDropdownToggle.astro";
import MobileNav from "@components/Nav/MobileNav/MobileNav.astro";
import SiteLogo from "@components/SiteLogo/SiteLogo.astro";
import Button from "@components/Button/Button.astro";
import LanguageSelect from "@components/LanguageSelect/LanguageSelect.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
const navData = getTranslatedData("navData", currLocale);
import { locales } from "@config/siteSettings.json";
// console.log(JSON.stringify(navData, null, 2));
---

<div
	id="nav__container"
	class="navbar--initial fixed top-0 left-0 z-30 flex w-full flex-col transition-all duration-500"
	transition:name={`nav`}
>
	<div class="mx-auto flex w-full">
		<div class="site-container flex h-16 w-full items-center">
			<header class="relative flex w-full items-center gap-2">
				<!-- home button / logo -->
				<div class="flex flex-auto justify-start logo">
					<SiteLogo />
				</div>

				<div class="flex flex-auto justify-center">
					<nav class="hidden lg:block">
						<ul class="flex h-fit items-center px-4 gap-1 text-xl">
							{
								// if dropdown exists, setup the dropdown, otherwise it is just a link
								navData.map((navItem) =>
									"dropdown" in navItem ? (
										// non-mobile dropdown menu
										<>
											{/* <NavDropdown navItem={navItem} /> */}
											<NavDropdownToggle navItem={navItem} />
										</>
									) : "megaMenuColumns" in navItem ? (
										<MegaMenuDropdownToggle {navItem} />
									) : (
										// normal nav link
										<NavLink {navItem} />
									),
								)
							}
						</ul>
					</nav>
				</div>

				<!-- desktop nav menu -->
				<div class="flex flex-auto justify-end">
					{locales.length > 1 && <LanguageSelect class="ml-2 hidden md:flex" />}

					<!-- mobile nav menu, only load on small screens where it is visible -->
					<div class="lg:hidden">
						<MobileNav />
					</div>
				</div>
			</header>
		</div>
	</div>
</div>

<style>
	@import "tailwindcss/theme" theme(reference);
	@import "@/styles/tailwind-theme.css" theme(reference);

	.navbar--scrolled {
		@apply bg-gradient-to-r from-zinc-600 to-zinc-600/40;
	}

	.navbar--initial {
		@apply bg-gradient-to-r from-zinc-600 to-zinc-600/40 py-3;
	}

    .navbar--scrolled .logo {
        @apply scale-80;
    }
</style>

<script>
	let navbar: HTMLElement | null;

	function scrollHandler() {
		if (navbar) {
			if (window.scrollY > 50) {
				// if we have scrolled down the page a bit, add a frosted-glass look to the navbar
				navbar.classList.add("navbar--scrolled");
				navbar.classList.remove("navbar--initial");
			} else {
				navbar.classList.add("navbar--initial");
				navbar.classList.remove("navbar--scrolled");
			}
		}
	}

	function initNav() {
		navbar = document.getElementById("nav__container");
		window.addEventListener("scroll", scrollHandler, { passive: true });
	}

	// runs on initial page load
	initNav();

	// runs on view transitions navigation. Not needed if item has "transition:persist"
	document.addEventListener("astro:after-swap", initNav);
</script>
